@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&display=swap');

:root {
   color-scheme: light dark;
   --colorTransition: 0.20s;
   --bodyTransition: 0.5s;
}

body {
   color: light-dark(#EAEFEF, #333446);
   background-color: light-dark(#333446, #EAEFEF);
   font-family: "Ancizar Sans";
   transition: background-color var(--bodyTransition), color var(--bodyTransition);
}

a {
   color: light-dark(#333446, #EAEFEF);
   text-decoration: none;
   transition: color var(--colorTransition);
}

a:hover {
   color: light-dark(#EAEFEF, #333446);
   text-decoration: underline;
   transition: color var(--colorTransition);
}

.box {
    margin-inline: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 8px;
    padding: 8px;
    background-color: light-dark(#B8CFCE, #7F8CAA);
    color: light-dark(#333446, #EAEFEF);
}

.boxCentered {
   width: 90%;
}

.portfolioContent {
   border: 1px solid light-dark(#333446, #EAEFEF);
   border-radius: 6px;
   padding: 4px;
   margin: 0.5em;
}

 .light {
    color-scheme: light;
 }

 .logo {
    border-radius: 20%;
    border: 2px solid light-dark(#333446, #EAEFEF);
 }